{
  "presets": ["react-native"],
  "plugins": ["transform-regenerator", "transform-object-assign", "dev-expression"],
  "env": {
    "test": {},
    "development-web": { "plugins": ["react-native-web/babel"] },
    "production-web": { "plugins": ["react-native-web/babel"] },
    "test:native": {},
    "development": {},
    "production": {}
  }
}
